<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Developers Group - Gallery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="gallery_design.css">
    <link rel="stylesheet" href="../partials/style.css">
</head>
<body>

    <div id="header-placeholder"></div>
    <div id="mobilenav-placeholder"></div>

    <div class="hero">
        <img class="doodle doodle-1" src="../../public/legacy-images/miscellaneous/Group 168.png" alt="Doodle 1">
        <img class="doodle doodle-3" src="../../public/legacy-images/miscellaneous/Group 169.png" alt="Doodle 2">
        <img class="doodle doodle-2" src="../../public/legacy-images/miscellaneous/Group 170.png" alt="Doodle 3">
        <img class="doodle doodle-4" src="../../public/legacy-images/miscellaneous/Group 171.png" alt="Doodle 4">

        <button class="gallery-btn" disabled>
            <span class="dot"></span>
            GALLERY
        </button>

        <h1>See the community</h1>
        <h1>in action</h1>

        <p>Workshops, events, late-night builds, new connections, and the</p>
        <p>moments in between.</p>

        <a href="#captured-moments" class="cta-btn">
            View the gallery <div><span class="arrow-down">↓</span></div>
        </a>

        <hr id="captured-moments">
        
        <button class="captured-moments-btn" disabled>
            <span class="cap-dot"></span>
            CAPTURED MOMENTS
        </button>

        <h1>What's happening next</h1>

        <hr>

        <button class="featured-events-btn" disabled>
            <span class="feat-dot"></span>
            FEATURED EVENTS
        </button>

        <h1>More to learn.</h1>
        <h1>More to build.</h1>

        <div class="carousel-wrapper">
            <div class="carousel" id="carousel">
                <div class="card-featured"></div>
            </div>
        </div>

        <hr>

        <button class="past-events-btn" disabled>
            <span class="past-dot"></span>
                PAST EVENTS
        </button>

        <h1>What we've</h1>
        <h1>built together</h1>

        <div class="card-rows">
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
                <div class="card-past"></div>
        </div>

        <hr>

        <div class="box-event">
            <div class="dots">
                <span class="dot dot-red"></span>
                <span class="dot dot-blue"></span>
                <span class="dot dot-green"></span>
                <span class="dot dot-yellow"></span>
            </div>

            <h2>Don't just watch from</h2>
            <h2>the sidelines.</h2>
            <p>Come learn, meet people, and build something with us.</p>

            <a href="#" class="register">Register now <span class="arrow-diagonal">↗</span></a>
        </div>

    </div>

    <div id="footer-placeholder"></div>

<script src="gallery_script.js"></script>
</body>
</html>